@model DetailsCategoryViewModel

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>  
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsertDate)
        </dd> 

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd> 

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar para lista</a>
</div>
